CORS_ALLOWED_ORIGINS=https://localhost:3000,http://dev.oz.mospolytech.ru/csh/,http://oz.mospolytech.ru/csh/
DB_PASSWORD=your_password_here
DB_NAME=knowledge_db
DB_USER=kn_admin
# MinIO, пароль не короче 8 символов
S3_ACCESS_KEY=knowledgeapp
S3_SECRET_KEY=change_me_min_8_chars
S3_BUCKET=knowledgeapp-documents
MAX_UPLOAD_SIZE_MB=20
# пока нет авторизации
TEST_FACULTY_ID=1
